.checkout{
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout_title{
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgrey;
}
.checkout_ad{
    width:70vw;
    margin-bottom: 10px;
}

.checkoutproduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
   
}
.checkoutproduct_img{
    object-fit: contain;
    width: 100px;
    height: 180px;
}
.checkoutproduct_rating{
    display: flex;
}
.checkoutproduct_info{
  padding-left: 20px;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}
.checkoutproduct_info >button{
    background-color: #f0c14b;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
}
